<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>640694195916-507c90lgn766b13jivqk7kgsuf924usj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640694195916-507c90lgn766b13jivqk7kgsuf924usj</string>
	<key>API_KEY</key>
	<string>AIzaSyDYz-Xu-cX58pUFD2Z7H1f4UDGum5Ugggg</string>
	<key>GCM_SENDER_ID</key>
	<string>640694195916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RepHub.RepHub</string>
	<key>PROJECT_ID</key>
	<string>rephub-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rephub-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640694195916:ios:013f6915af97e96a</string>
	<key>DATABASE_URL</key>
	<string>https://rephub-app.firebaseio.com</string>
</dict>
</plist>